#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

# Folders shortcuts
alias db="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Work/coding"
alias d="~/bin/dropbox.py"

# Commands shortcuts
alias g="git"
alias h="history"
alias j="jobs"
alias more=less

# Disk utilities
alias cp="cp -i" # confirm overwrite
alias df="df -h" # human readable sizes

# Set base16 theme to tomorrow-night
alias sc="$HOME/.config/base16-shell/scripts/base16-tomorrow-night.sh tomorrow-night"

# Enable colors
alias ls='ls --color=auto'
alias grep='grep --colour=auto'
alias egrep='egrep --colour=auto'
alias fgrep='fgrep --colour=auto'

